@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:before, *:after{
    box-sizing: inherit ;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@Layer base {
    body {
        @apply font-sans bg-stone-200 text-black
    }
    h1, h2, h3, h4, h5, h6{
        @apply font-heading text-gray-900;
    }
    h1, h2, h3 {
        @apply font-bold;
    }
    h4, h5, h6{
        @apply font-medium;
    }
    h1{
        @apply text-4xl
    }
    h2{
        @apply text-2xl
    }
    a{
        @apply text-blue-600
    }

}